/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .mobile_modalconfig {
    max-width: 100% !important;
    height: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .desktop_modalconfig {
    max-width: 80% !important;
    height: 60%;
  }
}

.styledButton-gray {
  border-radius: 10%;
  border: none;
  margin: 4px;
  background-color: #f8f9fa;
  /* color: purple; */
  outline: none;
}

.styledButton-gray:focus {
  outline: none;
}
.styledButton-gray:hover {
  border-radius: 10%;
  border: none;
  margin: 4px;
  background-color: #e2e6ea;
  /* color: purple; */
  outline: none;
}
.styledButton-green {
  background-color: #e4f9f5;
  border: none;
  border-radius: 10%;
  margin: 4px;
  outline: none;
}

.styledButton-green:focus {
  outline: none;
}

.styledButton-green:hover {
  background-color: #cff0ea;
  margin: 4px;
  border: none;
  border-radius: 10%;
  outline: none;
}

.moblie_styledbutton-gray {
  background-color: #e2e6ea;
  border: none;
  border-radius: 10%;
  margin: 10px;
  height: 00%;
}
.moblie_styledbutton-gray:focus {
  outline: none;
}
.moblie_styledbutton-green {
  background-color: #e4f9f5;
  border-radius: 10%;
  border: none;
  margin: 10px;
  height: 00%;
}
.moblie_styledbutton-green:focus {
  outline: none;
}
.row-overflow {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

.row-overflow::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
